node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
/testMatrix.json

# local depolyment files
deployments/hardhat/*
deployments/localhost/*

# mocha files
mochaOutput.json
